<div class="p-2 m-3">
<!-- Buffer Block -->
</div>
<div class="jumbotron bg-dark text-light">
  <div class="d-flex flex-row">
    <h1 class="display-4">SCTR&#160;</h1> <span class="mt-4 pt-3"> Service Call Ticket Requests</span>
  </div>
  <p class="lead">Service Call Ticket Requests is a simple web application generating customers service call ticket requests by utilizing a client login system.</p>
</div>
