<h1>Home</h1>


<form class="was-validated">
  <div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
    <label class="custom-control-label" for="customControlValidation1">Check this custom checkbox</label>
    <div class="invalid-feedback"><%= link_to "Edit", root_path, class: 'btn btn-primary' %></div>
  </div>
