<!--
            Admins with permissions lvl-1 or lower are allower to access this page, customer-no
-->

<!--
Form Customer Registration
registers the customer
 -->

<h3>Customer  Registration</h3>

<%= render 'form' %>
