//********* Base File for SCSS *************//

//bootstrap variables

// Bootstrap
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

//NavBar classes
.navTexTsizing {
  font-size: 1em;
}
//input form block sizing
.formBlockSizing{
  width: 50% !important;
}

.formHeaderBlockSizing{
    width: 100% !important;
}

#displayTextCard {
  width: 35% !important;
}
#displayTextForm {
  width: 65% !important;
}
