
<!--
            Admins with permissions lvl-1 or lower are allower to access this page, customer-no
-->

<!--
Form Customer Edit
edits the customer information and lists all the contacts, location and machines
 -->

<h3 class="card-header shadow-sm">Machine Edit</h3>

<%= render 'form' %>
