<!--
            Admins with permissions lvl-1 or lower are allower to access this page, customer-no
-->

<!--
Form Machine Registration
 -->

<h3 class="card-header shadow-sm">Machine  Registration</h3>

<%= render 'form' %>
