<!-- Partial rendered by layouts/application.html.erb  -->


<div class="card text-center mt-3">
  <div class="card-header">
  </div>
  <div class="card-body bg-light">
    <h5 class="card-title">Your Document Solutions</h5>
    <%= image_tag 'logo.png', size: "140x55" %>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
