<!--
      No Main Contact exist partial
-->

<!--Partial rendered by costumers/_form.html.erb and costumers/show.html.erb-->

<h5 class="card-header">No location contact</h5>
<div class="card-body">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <p class="card-text m-0">Title: </p>
      <p class="card-text m-0">First name: </p>
      <p class="card-text m-0">Last name: </p>
      <p></p>
      <p class="card-text m-0">Tel: </p>
      <p class="card-text m-0">Email: </p>
    </div>
  </div>
</div>
